body {
    background: #fff;
    font-family: 'Archivo', sans-serif;
}

/*############### Icon Header  ###############*/

.icon-top {
    background: #53c07d;
}

.icon-top a {
    color: #f1fffa;
    font-size: 1.6rem;
    transition: ease .5s;
}

.icon-top a:nth-child(4) {
    border-left: solid 2px #214c32;
}

.icon-top a:hover {
    color: #214c32;
    text-decoration: none;
}

.contact-us {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

/*############### Navbar ###############*/

nav {
    background-color: #ffffff;
    position: absolute;
    border-bottom: solid 5px rgba(83, 192, 125, 0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.navbar {
    padding: 7px 20px;
    transition: padding 1.7s ease;
}

.navbar-nav {
    text-decoration: none !important;
    letter-spacing: 2px;
}

.navbar-background {
    padding: 2px 20px;
    background: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link {
    color: #214c32;
    font-weight: 300;
    position: relative;
    transition: all 1s ease;
}

.navbar .nav-link:hover {
    transform: translateY(-7px);
    box-shadow: 0px 3px 0px rgba(83, 192, 125, 0.7);
}

.nav-item .active {
    color: #214c32;
}

.navbar-logo img {
    height: 4rem;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: #53c07d;
    transition: all .6s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}

/*############### Home-page Image Slider ###############*/

.item-1, .item-2, .item-3 {
    min-height: 60vh;
}

.item-1 {
    background: linear-gradient(to right, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), url('../images/solar-panel.jpg')center/cover fixed no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
}

.item-2 {
    background: linear-gradient(to bottom, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), url('../images/wind-farm2.jpg')center/cover fixed no-repeat;
    clip-path: polygon(0 18%, 100% 7%, 100% 77%, 0 94%);
}

.item-3 {
    background: linear-gradient(to left, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), url('../images/wind-farm.jpg')center/cover fixed no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.no-padding {
    padding: 0 !important;
}

.slider-btn {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border: solid 1px #fff;
    transition: all 1s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn1:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateX(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.btn2:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.btn3:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateX(7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.carousel-caption {
    letter-spacing: 5px;
    font-weight: 100;
}

/*############### About Us ###############*/

.title-underline {
    height: 3px;
    width: 250px;
    background: rgba(83, 192, 125, 0.3);
    margin: -28px auto 0 auto;
}

.title a {
    color: rgba(83, 192, 125, 0.9);
    font-size: 30px;
    padding: 0 10px;
    display: inline-block;
    background: #ffffff;
}

.title h1, .title h3 {
    letter-spacing: 5px;
    font-weight: 100;
    color: #214c32;
}

.title p {
    color: #214c32;
}

.filler {
    background: #214c32;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 100;
}

.filler span {
    background: rgba(83, 192, 125, 0.3);
}

/*############### Case Studies ###############*/

.cs-grid {
    opacity: 0.4;
}

.cs-grid-div {
    transition: ease-in-out 0.5s;
    background: linear-gradient(to bottom, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.7)), center/cover fixed no-repeat;
    padding: 0;
    margin: 0;
}

.cs-grid-div h6 {
    transition: ease-in-out 0.5s;
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    background-color: #214c32;
    border-bottom: solid 4px #53c07d;
}

.cs-grid-div h3 {
    transition: ease-in-out 0.5;
    text-transform: capitalize;
    font-weight: 220;
    text-align: left !important;
    border-bottom: solid 4px #53c07d;
    margin-bottom: 10px;
}

.cs-grid-div:hover {
    background-color: #214c32;
}

.cs-grid-div:hover h6 {
    color: #fff;
    background-color: #53c07d;
    border-bottom: solid 4px #53c07d;
    transform: translateY(-3px);
}

.container-fluid {
    position: relative;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: ease-in-out 0.8s;
    width: 65%;
}

/*
.parallax {
    // The image used //
    background-image: url("../images/wind-farm.jpg");
    // Set a specific height //
    min-height: 500px;
    // Create the parallax scrolling effect //
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

/*############### Google Maps API ###############*/

div#map {
    min-height: 360px;
}

@media screen and (max-width: 430px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }
    .cs-grid-div {
        width: 100%;
        height: 200px;
    }
    ;
}

/*
Extra-small (xs) devices (portrait phones, less than 576px)
- Requires no media queries since this is Boostrap default

Small (sm) devices (landscape phones, 576px and above)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and above)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and above)
@media (min-width: 992px) { ... }

Extra-large (xl) devices (large desktops, 1200px and above)
@media (min-width: 1200px) { ... }
*/