* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Karla', sans-serif;
}

/*############### Icon Header  ###############*/

.icon-top {
    background: #53c07d;
}

.icon-top a:nth-child(1) {
    color: #f1fffa;
    font-size: 1.6rem;
    transition: ease .5s;
}

.icon-top a:nth-child(2) {
    color: #f1fffa;
    font-size: 1.6rem;
    transition: ease .5s;
}

.icon-top a:nth-child(3) {
    color: #f1fffa;
    font-size: 1.6rem;
    transition: ease .5s;
    border-right: solid 2px #214c32;
}

.icon-top a:nth-child(4) {
    color: #f1fffa;
    font-size: 1.2rem;
    transition: ease .5s;
}

.icon-top a:nth-child(5) {
    color: #f1fffa;
    font-size: 1.2rem;
    transition: ease .5s;
}

.icon-top a:hover {
    color: #214c32;
    text-decoration: none;
}

.icon-hover {
    color: #214c32;
    transition: ease .5s;
}

.icon-hover2 {
    color: #f1fffa;
    transition: ease .5s;
}

.icon-hover3 {
    display: none;
}

.contact-us1, .contact-us2 {
    font-size: 1rem;
    color: #f1fffa;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    transition: ease .5s;
}

/*############### Navbar ###############*/

nav {
    background-color: #ffffff;
    position: absolute;
    border-bottom: solid 5px rgba(83, 192, 125, 0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.navbar {
    padding: 7px 20px;
    transition: padding 1.7s ease;
}

.navbar-nav {
    text-decoration: none !important;
    letter-spacing: 2px;
}

.navbar-background {
    padding: 2px 20px;
    background: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link {
    color: #214c32;
    font-weight: 300;
    position: relative;
    transition: all 1s ease;
}

.navbar .nav-link:hover {
    transform: translateY(-7px);
    box-shadow: 0px 3px 0px rgba(83, 192, 125, 0.7);
}

.nav-item .active {
    color: #214c32;
}

.navbar-logo img {
    height: 4rem;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: #53c07d;
    transition: all .6s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}

/*############### Home-page Image Slider ###############*/

.item-1, .item-2, .item-3 {
    min-height: 70vh;
}

.item-1 {
    background: linear-gradient(to right, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), center/cover fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 95%);
}

.item-2 {
    background: linear-gradient(to bottom, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), center/cover fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clip-path: polygon(0 18%, 100% 7%, 100% 77%, 0 94%);
}

.item-3 {
    background: linear-gradient(to left, rgba(83, 192, 125, 0.7), rgba(83, 192, 125, 0.1)), url('../images/solar4.jpg'), no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.no-padding {
    padding: 0 !important;
}

.slider-btn {
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    transition: all 1s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn1:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateX(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.btn2:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.btn3:hover {
    color: rgba(83, 192, 125, 0.8);
    background: #fff;
    transform: translateX(7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.carousel-caption {
    letter-spacing: 5px;
    font-weight: 100;
}

/*############### About Us ###############*/

.title-underline {
    height: 3px;
    width: 250px;
    background: rgba(83, 192, 125, 0.3);
    margin: -28px auto 0 auto;
}

.title a {
    color: rgba(83, 192, 125, 0.9);
    font-size: 30px;
    padding: 0 10px;
    display: inline-block;
    background: #ffffff;
}

.title h1, .title h3 {
    letter-spacing: 5px;
    font-weight: 100;
    color: #214c32;
}

.title p {
    color: #214c32;
}

.about-us-btn {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    letter-spacing: 2px;
    font-weight: 100;
}

.about-us-btn:hover {
    color: #fff;
    background: rgba(83, 192, 125, 0.8);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

/*############### Services ###############*/

.filler {
    background: #53c07d;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
}

.filler span {
    background: rgba(33, 76, 50, 0.2);
}

.services-grid {
    opacity: 0.5;
}

.services-grid-div {
    transition: ease-in-out 0.5s;
    background: linear-gradient(to bottom, rgba(33, 76, 50, 0.8), rgba(33, 76, 50, 0.8)), center/cover fixed no-repeat;
    padding: 0;
    margin: 0;
}

.services-grid-div h6 {
    transition: ease-in-out 0.5s;
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
    background-color: #53c07d;
}

.services-grid-div h3 {
    transition: ease-in-out 0.5;
    text-transform: capitalize;
    font-weight: 220;
    text-align: left !important;
    border-top: solid 2px #f1fffa;
    border-right: solid 2px #f1fffa;
    margin-bottom: 10px;
}

.services-grid-div:hover h6 {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.services-grid-div2 {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: ease-in-out 1s;
    background-size: 100%;
}

.services-grid-div2 h6 {
    transition: ease-in-out 0.5s;
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
    background-color: #53c07d;
}

.services-grid-div2 h3 {
    transition: ease-in-out 0.5;
    text-transform: capitalize;
    font-weight: 220;
    text-align: left;
    margin-bottom: 10px;
}

.services-grid-div2 p {
    transition: ease-in-out 0.5;
    text-transform: capitalize;
    font-weight: 220;
    text-align: left;
}

.services-grid-div2 h6:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.container-fluid {
    position: relative;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: ease-in-out 0.8s;
    width: 75%;
}

/*############### about-us.html ###############*/

.locations h1, .locations h4 {
    letter-spacing: 1px;
    font-weight: 100;
    color: #214c32;
}

.parallax1 {
    /* Set a specific height */
    min-height: 150px;
    /* Create the parallax scrolling effect with linear gradient */
    background: linear-gradient(to bottom, rgba(83, 192, 125, 0), rgba(83, 192, 125, 0.3)), url('../images/solar5.jpg') center/cover fixed no-repeat;
}

.parallax2 {
    /* Set a specific height */
    min-height: 200px;
    /* Create the parallax scrolling effect with linear gradient */
    background: linear-gradient(to bottom, rgba(83, 192, 125, 0), rgba(83, 192, 125, 0.9)), url('../images/solar5.jpg') center/cover fixed no-repeat;
}

/*############### Footer ###############*/

.footer {
    background-color: #53c07d;
    border-top: solid 3px rgba(33, 76, 50, .2);
}

.footer-logo {
    width: 100px;
    height: 70px;
}

/*############### Google Maps API ###############*/

div#map {
    min-height: 360px;
}

@media (max-width: 450px) {
    .contact-us1, .contact-us2 {
        display: none;
    }
    .details {
        display: none;
    }
    .icon-hover {
        color: #214c32;
        transition: ease .5s;
        display: none;
    }
    .icon-hover2 {
        display: none;
    }
    .icon-hover3 {
        color: #f1fffa;
        transition: ease .5s;
        font-size: 1.4rem;
        display: unset;
    }
    .icon-hover3:hover {
        color: #214c32;
    }
    .icon-top a:nth-child(4) {
        padding-right: 10px;
    }
    .icon-top a:nth-child(3) {
        border: none;
    }
    .navbar {
        text-align: center;
    }
    .navbar-toggler {
        margin-left: auto;
        margin-right: auto;
    }
    .top-icons {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 992px) {
    .item-1, .item-2, .item-3 {
        clip-path: none !important;
    }
    .carousel-caption h1 {
        letter-spacing: 5px;
        font-weight: 100;
        font-size: 1em;
    }
}

/*
Extra-small (xs) devices (portrait phones, less than 576px)
- Requires no media queries since this is Boostrap default

Small (sm) devices (landscape phones, 576px and above)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and above)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and above)
@media (min-width: 992px) { ... }

Extra-large (xl) devices (large desktops, 1200px and above)
@media (min-width: 1200px) { ... }
*/